fastapi
uvicorn
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-community
langchain-core
langchain
feedparser
beautifulsoup4
gtts
googletrans
deep-translator
python-dotenv
pydantic
protobuf
duckduckgo-search
sentence-transformers
